<footer>
    {{!-- <nav>
        <ul>
            {{#each collections.tags}}
                <li><a href="/blog/tags/{{this}}">{{this}}</a></li>
            {{/each}}
        </ul>
    </nav> --}}
    <nav>
        <ul class="footer">
            <li><a href="https://github.com/goliatone">github</a></li>
            <li><a href="https://twitter.com/goliatone">twitter</a></li>
        </ul>
    </nav>
    <nav>
        <ul class="footer">
            <li><a href="/about">about</a></li>
            <li><a href="/rss/atom.xml">feed</a></li>
            <li><a href="/blog/tags">tags</a></li>
            <li><a href="/blog/archives">archives</a></li>
        </ul>
    </nav>
</footer>

{{> html-end }}