{{> header}}

<main>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3 class="text-center u-vs">#{{tag}}</h3>
        </div>
    </div>

    <div class="row">
        {{#each posts}}
            {{> posts-list-item }}
        {{/each}}
    </div>
</main>

{{> footer }}